.help-box {
  padding: 1rem;
  border-radius: 4px;
  margin: 1;
  flex: 1;
}

.help-box h2 {
  color: #97a2a2;
  font-size: 1.05rem;
}

.help-box p {
  color: #6b7a7a;
  font-size: 0.95rem;
  line-height: 1.4;
}
